.ENGINE_ShapeSelected {
	-fx-fill: magenta;
	-fx-stroke: magenta;
}


.uiContainerTopLeft {
	-fx-background-color: rgba(255, 255, 255, 0.9);
	-fx-padding: 10px;
	-fx-border-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 5);
	-fx-font-size: 10px;
}

.uiContainerTopLeft:hover {
	
}
/* 
// Remove all that shit 
*/

.button { 
    -fx-opacity: 0.5; 
    transition: -fx-opacity 1s; 
} 
  
.button:hover { 
    -fx-opacity: 1.0; 
} 

.rectangle { 
    transition: -fx-scale-x 1s, -fx-scale-y 1s, -fx-rotate 1s;
    -fx-scale-x: 1.0; /* Sinon ca déconne quand on clique dans la forme, ca revient pas a la bonne scale */
    -fx-scale-y: 1.0; /* Sinon ca déconne quand on clique dans la forme, ca revient pas a la bonne scale */
     
/*    transition-property: -fx-rotate;*/ 
/*    transition-duration: 2s;*/ 
} 
.rectangle:hover { 
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;  
} 

.circle { 
    -fx-fill: blue; 
    -fx-stroke: black; 
    -fx-stroke-width: 1px; 
    -fx-opacity: 1.0; 
    -fx-translate-x: 0; 
    -fx-translate-y: 0; 
    transition: all 3s; 
/*    transition: -fx-fill 3s, -fx-stroke 3s, -fx-stroke-width 3s, -fx-translate-x 3s, -fx-translate-y 3s;*/ 
/*    transition-property: -fx-fill, -fx-stroke, -fx-stroke-width, -fx-translate-x, -fx-translate-y;*/ 
/*    transition-duration: 3s, 3s, 3s, 3s, 3s;*/ 
} 
.circle:hover { 
    -fx-fill: cyan; 
    -fx-stroke: yellow; 
    -fx-stroke-width: 50px; 
    -fx-opacity: 0.5; 
    -fx-translate-x: 50; 
    -fx-translate-y: 50; 
} 
.region { 
    -fx-background-color: red; 
    -fx-background-radius: 0px; 
    -fx-border-color: grey; 
    -fx-border-width: 1px; 
    -fx-border-radius: 0px; 
    -fx-opacity: 0.5; 
    -fx-min-width: 100px; 
    -fx-min-height: 75px; 
    transition: all 2s; 
} 
.region:hover { 
    -fx-background-color: purple; 
    -fx-background-radius: 21px; 
    -fx-border-color: black; 
    -fx-border-width: 10px; 
    -fx-border-radius: 20px; 
    -fx-opacity: 1; 
}